:root {
    --primary-color: rgb(230, 40, 129);
    --secondary-color: rgb(207, 37, 117);
    --white-one: #f5f5f5;
    --root-font: min(8vw,10vh);
    --nav-height: min(10vw, 10vh);
}

.nav-item-holder {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 2%;
    height: 10vw;
    width: 95.89vw;
}

.title {
    font-size: var(--root-font);
    color: var(--white-one);
}

.bi {
    color: var(--white-one);
    background-color: transparent;
    font-size: 1.5rem;
}
