:root {
    --primary-color: rgb(230, 40, 129);
    --secondary-color: rgb(207, 37, 117);
    --white-one: #f5f5f5;
    --root-font: min(8vw,10vh);
    --card-font: calc(0.5*var(--root-font));
    --image-size: min(20vw,20vh);
    --container-width: 96vw;
}

.overhead {
    display: flex;
    justify-content: space-around;
    padding-top: 8%;
}

.logo {
    height: var(--image-size);
    width: var(--image-size);
}

.overhead-symbol {
    font-size: var(--root-font);
    color: var(--white-one);
}

.info-container {
    margin: auto;
    display: flex;
    flex-direction: column;
}

.info-container div {
    /* width: var(--container-width); */
    background-color: var(--secondary-color);
    display: flex;
    justify-content: space-between;

}

.info-container div:nth-child(2n) {
    background-color: var(--primary-color);
}

.info-container div p {
    text-align: center;
    width: 50%;
    color: var(--white-one);
    font-size: var(--card-font);
}

a {
    text-decoration: none;
    color: orange;
}
