:root {
  --primary-color: rgb(230, 40, 129);
}

body {
  margin: auto;
  background-color: rgb(201, 25, 107);
}

.search-box {
  box-sizing: border-box;
  border: 1px solid;
  border-radius: 4px;
  background-color: rgb(167, 20, 105);
  color: rgb(245, 231, 231);
  padding: 3%;
  height: 5vh;
}

.search-box::placeholder {
  font-size: 0.7rem;
  font-style: italic;
  color: rgb(179, 170, 170);
}
